<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />

    <title>Home Page Spring</title>
  </head>
  <body>

    <form action="#" th:action="@{/getResult}"  method="post" ><!--th:object="${id}" -->
      
      <select name="room">
        <option value="default">Select a room</option>
        <option th:each="listeRoom, iterstat: ${listRoom}" th:value="${listeRoom}" th:text="${listeRoom}"/>
      </select>
      <input type="submit" value="Submit" /> 
            
       </form>

       
    <!--   <tr th:each="listeRoom, iterstat: ${listRoom}">
        <td th:text="${listeRoom}" th:id="|td${iterstat.index}|"></td>
      </tr>--> 
  </body>
</html>
